<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened [fixedInViewport]="fixed" [fixedTopGap]="0" [fixedBottomGap]="0">
    <app-menu-lateral></app-menu-lateral>   
  </mat-sidenav>
  <mat-sidenav-content>
    <button mat-button (click)="sidenav.toggle()" class="toggle-menu">
      <mat-icon class="icon">reorder</mat-icon>
    </button>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
